.card {
  display: flex;
  background: #ffffff;
  border-radius: var(--base-radius);
  border: 1px solid var(--color-light-grey);
  padding: var(--base-gap);
  margin: 16px 0;
}

.card_column {
  flex-direction: column;
}

.card_background-light-grey {
  background: var(--color-light-grey-transparent);
}

.card__actions {
  display: flex;
  border-top: 1px solid var(--color-light-grey);
  margin-top: 16px;
  padding-top: 16px;
  margin: 16px -16px 0;
  padding: 16px 16px 0;
}

.card > .input-block + .input-block {
  margin-top: 0;
  margin-left: 16px;
}

.d-flex > .input-block + .input-block {
  margin-top: 0;
  margin-left: 16px;
}

.plotly {
  position: relative;
}

.plotly__actions {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -16px;
  z-index: 100;
}

.plotly__actions > .btn + .btn {
  margin-top: 16px;
}