.section-container {
  height: 100vh; 
  border-left: 1px solid var(--color-light-grey); 
  position: fixed; 
  width: 500px; 
  right: 0; 
  top: 0;
  background: white;
  z-index: 101;
  transition: all .3s ease;
}

.section-container_hide {
  right: -500px;
}

.section-container__block {
  position: relative;
  overflow-x: hidden;
  height: 100%;
}

.section-container__actions {
  z-index: 100;
  display: flex;
  width: 500px;
  border-bottom: 1px solid var(--color-light-grey); 
  background: #fff;
}

.section-container__content {
  position: relative;
  margin-bottom: 41px;
}

.section__btn {
  padding: 20px;
  width: 100%;
  transition: all .3s ease;
  cursor: pointer;
  text-align: center;
}

.section__btn_close {
  background: #fff;
  border: 1px solid var(--color-light-grey); 
  padding: 10px 2px 10px 2px;
  margin-left: -1px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -29px;
  border-bottom-left-radius: var(--base-radius);
  border-top-left-radius: var(--base-radius);
  transition: all .3s ease;
  cursor: pointer;
  text-align: center;
  z-index: 100;
}

.section__btn_close_rotate {
  transform: rotate(180deg);
}

.section__btn_close:hover, 
.section__btn_close:active {
  background: var(--color-light-grey); 
} 

.section__btn:hover {
  background: var(--color-grey);
}

.section__btn_active {
  background: var(--color-light-grey);
}

.section__btn + .section__btn {
  border-left: 1px solid var(--color-light-grey); 
}