.select-css { 
  box-sizing: border-box; 
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  font-family: inherit !important;
  background-color: #fff; 
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  transition: all .2s ease;
  position: relative;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.70711 0.29289C1.31658 -0.09763 0.68342 -0.09763 0.29289 0.29289C-0.09763 0.68342 -0.09763 1.3166 0.29289 1.7071L5.2929 6.7071C5.6834 7.0976 6.3166 7.0976 6.7071 6.7071L11.7071 1.7071C12.0976 1.3166 12.0976 0.68342 11.7071 0.29289C11.3166 -0.09763 10.6834 -0.09763 10.2929 0.29289L6 4.5858L1.70711 0.29289Z' fill='%236E7782'/%3E%3C/svg%3E%0A");
} 
.select-css::before {
  content: '';
  width: 24px;
  height: 24px;
  position: absolute;
  font-family: inherit !important;
}
.select-css::-ms-expand { 
  display: none; 
  font-family: inherit !important;
} 
.select-css:hover { 
  border-color: var(--color-grey); 
} 
.select-css:focus { 
  border: 1px solid var(--color-link);
  border-radius: var(--base-radius);
  outline: none; 
} 

.select-css option { 
  font-weight: normal; 
  font-family: inherit !important;
} 

*[dir="rtl"] .select-css, :root:lang(ar) .select-css, :root:lang(iw) .select-css { 
  background-position: left .7em top 50%, 0 0; 
  padding: .6em .8em .5em 1.4em; 
}